@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

/* Custom CSS rules start here */
:root {
  font-family: Outfit, sans-serif;
}

:root {
  /* font-family: "Lexend", sans-serif; */

  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
